.suppliers-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  flex: 3;
  border-radius: 5px;
  margin: 32px 16px 32px 32px;
  padding: 16px;
  background: #f6f5f5;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
}

.suppliers-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.suppliers-container-header p {
  flex: 7;
  font-weight: 400;
  font-size: 22px;
  color: rgb(130, 130, 130);
}

.add-supplier-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.add-supplier-button {
  height: 35px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to right, #407ff7, #50a3f9);
  color: #ffffff;
  font-size: 20px;
}
