.supplier-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  height: 75vh;
  max-height: 75vh;
  flex: 6;
  border-radius: 5px;
  margin: 32px 32px 16px 16px;
  padding: 16px;
  background: #f6f5f5;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
  overflow: hidden;
}

.supplier-dashboard-details {
  flex: 1;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
  border: 1px solid #e1e2e3;
  margin: 8px;
  padding: 16px;
  color: #636363;
  align-items: center;
}

.supplier-dashboard-products {
  flex: 2;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
  border: 1px solid #e1e2e3;
  margin: 8px;
  padding: 16px;
  color: #636363;
}
