.supplier-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  height: 75vh;
  max-height: 75vh;
  flex: 6;
  border-radius: 5px;
  margin: 32px 32px 16px 16px;
  padding: 16px;
  background: #f6f5f5;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
  overflow: hidden;
}

.supplier-dashboard-details {
  flex: 1;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
  border: 1px solid #e1e2e3;
  margin: 8px;
  padding: 16px;
  color: #636363;
  align-items: center;
}

.supplier-dashboard-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.supplier-dashboard-details-image {
  flex: 1;
  margin: 16px;
  height: 100px;
}

.supplier-dashboard-details-info {
  display: flex;
  flex-direction: column;
  flex: 5;
  margin: 8px;
}

.supplier-dashboard-details-header {
  margin: 16px 0px 8px 0px;
}

.supplier-dashboard-details-divider {
  height: 1px;
  border-top: 1px solid #e1e2e3;
  margin: 0px 0px 8px 0px;
}

.supplier-dashboard-details-description {
  margin: 8px 0px;
  color: rgb(130, 130, 130);
  font-weight: 300;
  font-size: 14px;
}

.supplier-dashboard-products {
  flex: 2;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
  border: 1px solid #e1e2e3;
  margin: 8px;
  padding: 16px;
  color: #636363;
}
